.jumbotron h1,p{
    text-align: center;   
}

.form{
    width: 40%;
    margin: 0 auto;
}

.game{
    margin: 10px auto;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,.4);
}

.center-text{
  text-align: center; 
}

.game img{
    display: block;
    margin: 0 auto;
}


.game-status{
    border-radius: 5px;
    color: white;
    font-weight: 900;
}

.options{
    width: 100%;
    margin: 10px auto; 
    text-align: center;
}

.notowned{
    background: #ff4747;
}

.notstarted{
    background: #ff8547;
}

.inprogress{
    background: #ffce47;
}

.finished{
    background: #38ff6a;
}

.pagination-custom{
    text-align: center;
}

.pagination-custom a{
    margin: 0 5px;
}